<html lang="en-US">
<head>
    {% include 'web/styles' %}
</head>
<body>
<div class="layout">
    <div class="flex column align-items-center content">
        {% partial 'web/partials/header' %}

        <div class="mt-2">
            <form method="POST" action="{{ action_url }}">
                {% if view == "email" %}
                    <p>
                        Welcome to WebhookDB! In order to complete this integration, we need your email address so that
                        we can associate your information with an organization.
                    </p>
                    <p>Enter your email:</p>
                    <div class="input-group">
                        <input class="input-inline" type="text" id="email" name="email"/>
                        <input class="input-inline-button" type="submit" value="Log in"/>
                    </div>
                    {% partial 'web/partials/form_error' %}
                {% elsif view == "otp" %}
                    <p>{% if new_customer %}
                            To finish registering, please look for an email we just sent to {{ email }}.
                            It contains a One Time Password code to validate your email.
                        {% else %}
                            Hello again! To finish logging in, please look for an email we just sent to {{ email }}.
                            It contains a One Time Password used to log in.
                        {% endif %}
                    </p>
                    <p>Enter the token from your email:</p>
                    <div class="input-group">
                        <input class="input-inline" type="text" id="otp_token" name="otp_token"/>
                        <input class="input-inline-button" type="submit" value="Log in"/>
                    </div>
                    {% partial 'web/partials/form_error' %}
                    <input type="hidden" id="email" name="email" value="{{ email }}">
                {% endif %}
                <input type="hidden" id="state" name="state" value="{{ oauth_state }}">
            </form>

        </div>
        {% partial 'web/partials/footer' %}
    </div>
</div>
</body>
</html>
